/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
html, body {
    margin:0px;
    height:100%;
    width: fit-content;
  }

.Site{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/discordSite.css ***!
  \**********************************************************************************/
.mainpanel{
    flex: 1;
    height: 100%;
    width: 100%;


}
.panel1{
    position: relative;
    width: 100% ;
    background-repeat: no-repeat, no-repeat;

}
.subPanel2{
    height: 500px;
    width: 100% ;
    background-color: #ffffff;
}


.panel2{
    height: 500px;
    position: relative;
    width: 100%; 
    overflow: hidden;
}
.panel4{
    background-color: #ffffff;
}
.panel3{
    margin-left: 300px;
    width: 600px; 
    float: left;
    background-color: #ffffff;
}
.panel5{
    height: 500px;
    width: 100%; 
    overflow: hidden;
    background-color: #f6f6f6;
}
.panel6{
    margin-right: 500px;
    width: 600px; 
    float: right;
}
.panel7{

    background-color: #f6f6f6;
}
.btn{
    position:absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #5865f4;
    font-size: 16px;
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 25px;

}
.btn2{
    position:absolute;
    top: 60%;
    right: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #36393e;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 25px;

}

.link{
    text-decoration: none;
}

.subText1{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    justify-content: center;
}
.subText3{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 22x;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    justify-content: center;
}
.subText4{
    top: 10%;
    font-size: 45px;
    text-align: center;
    
}

.subText5{
    top: 20%;
    text-align: center;
    font-size: 25px;
}

.subText6{
    top: 10%;
    font-size: 45px;
    text-align: center;
    
}

.subText7{
    top: 20%;
    text-align: center;
    font-size: 25px;
}
